<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Email Template</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            
        }
        body{
            display: flex;
            justify-content: center;
        }
       .container{
        width: 70%;
    text-align: center;
        background-color: gainsboro;
       }
       h1{
        margin: 20px auto;
       }
    </style>
</head>
<body>
    <div class="container">
    <img src="https://www.pngall.com/wp-content/uploads/2/Email-PNG-Photo.png" alt="Image" width="100px">
    <h1>Hello, {{name}}!</h1>
    <p>Thanks for your Response.</p>
    

    
</div>

</body>
</html>
